*{
    text-decoration: none;
}
.background {
    display: flex;
    background-color: #000000;
    flex: 1;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}
.home {
    display: flex;
    padding: 32px;
    gap: 8px;
    flex: 1;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 100vw;
}
.portfolio {
    display: flex;
    padding: 32px;
    gap: 32px;
    flex: 1;
    margin: 0px;
    flex-direction: column;
    vertical-align: top;
    width: 100vw;
}
.broadcast {
    display: flex;
    padding: 32px;
    gap: 32px;
    flex: 1;
    margin: 0px;
    flex-direction: column;
    vertical-align: top;
    width: 100vw;
}
.contacts {
    display: flex;
    padding: 32px;
    gap: 32px;
    margin: 0px;
    flex-direction: column;
    vertical-align: top;
    width: 100vw;
}
.maintitle {
    font-family: "Pretendard";
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: #fff;
    margin: 0px;
}
.subtitle {
    font-family: "Pretendard";
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: #fff;
    margin: 0px;
}
.maintext {
    font-family: "Pretendard";
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    margin: 0px;
    white-space: nowrap;
}
.subtext {
    font-family: "Pretendard";
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    margin: 0px;
    white-space: nowrap;
}
.primary {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 48px;
    justify-content: center;
    margin: 0px;
    white-space: nowrap;
    width: 100%;
}
.secondary {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 48px;
    justify-content: center;
    flex: 1;
    margin: 0px;
    white-space: nowrap;
}
.youtube {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0px;

}
.video-container>iframe {
    border: none;
    border-radius: 24px;
    width: 100%;
    aspect-ratio: 16/9;
}
