.background {
    display: flex;
    background-color: #000000;
    padding: 32px;
    gap: 32px;
}
.maintitle {
    font-weight: 600;
    font-style: normal;
    font-size: 32;
}
.subtitle {
    font-weight: 300;
    font-style: normal;
    font-size: 28;
}
.maintext>* {
    font-weight: 600;
    font-style: normal;
    font-size: 20;
}
.subtext>* {
    font-weight: 300;
    font-style: normal;
    font-size: 14;
}
.primary {
    gap: 16px;

}
.secondary {
    gap: 16px;
}
.main {
    
}
.portfolio {

}
.broadcast {

}
.contacts {

}