.background {
    display: flex;
    color: #000000;
    background-color: #000000;
    padding: 32px;
    gap: 32px;
}
.maintitle {
    font-weight: 600;
    font-style: normal;
    font-size: 32;
    color: #ffffff;
}
.subtitle {
    font-weight: 300;
    font-style: normal;
    font-size: 28;
    color: #ffffff;
}
.maintext {
    font-weight: 600;
    font-style: normal;
    font-size: 20;
    color: #ffffff;
}
.subtext {
    font-weight: 300;
    font-style: normal;
    font-size: 14;
    color: #ffffff;
}
.primary {
    gap: 16px;

}
.secondary {
    gap: 16px;
}